
      <table class="table table-striped text w-100" id = "instrumentConfigurationTable">
        <thead class="thead-dark " >
          <tr>
            <th>session_instrument_id</th>
            <th>Titolo Configurazione</th>
            <th>Esperienza educativa</th>
            <th>Strumento</th>
            <th>Marca</th>
            <th>Modello</th>
            <th>Container </th>
            <th >Note</th>
            <th> <button id="newConfiguration" class ="btn btn-secondary btn-sm ml-3" data-toggle = "modal" data-target ="#newConfigurationModal"><span class="fa fa-plus"></span></button></th>
          </tr>
        </thead>
        <tbody class = "bg-light">
          <tr>
          </tr>
        </tbody>
      </table>
      <div  class = "row-12 mt-1  w-100">
          <div  class = "d-flex justify-content-center border border-dark rounded  w-100" style="background-color:rgb(235, 236, 237);">
            <label  id="messageError" class ="text-danger"> </label>
          </div>
      </div>
